.weather-detail__list {
  padding: 0;
  margin-left: 20px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.weather-detail__weather {
  background: skyblue;
  padding: 5px;
  width: 150px;
  height: 100px;
  margin-top: 10px;
  margin-right: 10px;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  border-radius: 6px;
}

.weather__info {
  display: flex;
}

.weather__name {
  font-size: 14px;
  font-weight: bold;
  width: 250px;
  height: 20px;
  margin: 0px 0px 10px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weather__date {
  font-size: 10px;
  font-weight: bold;
  width: 150px;
  height: 20px;
  margin-left: 5px;
}

.weather__temp {
  width: 100px;
  height: 20px;
  font-weight: bold;
  font-size: 16px;
}

.weather__type--Clear {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/images/Clear.png);
  background-repeat: no-repeat;
}

.weather__type--Clouds {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/images/Clouds.png);
  background-repeat: no-repeat;
}

.weather__type--Mist {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/images/Mist.png);
  background-repeat: no-repeat;
}

.weather__type--Rain {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/images/Rain.png);
  background-repeat: no-repeat;
}

.weather__wind {
  font-size: 14px;
}

.wind__title {
  margin-left: 10px;
}

.wind__speed {
  font-size: 10px;
}

a {
  text-decoration: none;
}
