<div class="weather__name">5 days Forecast of {{cityName}}</div>
<div class="weather-detail__list">
  <div class="weather-detail__weather" *ngFor="let weather of weatherDetail">
    <div class="weather__date">
      {{weather.dt_txt}}</div>
    <div class="weather__info">
      <div class="weather__type--{{weather.weather[0].main}}"></div>
      <h3 class="weather__temp">{{weather.main.temp | round}} °C</h3>
    </div>
    <div class="weather__wind">
      <span class="wind__title">Wind Speed : </span>
      <span class="wind__speed">{{weather.wind.speed}} km/h</span>
    </div>
  </div>
</div>
