.weatherlist__weather {
  background: skyblue;
  padding: 5px;
  width: 200px;
  height: 100px;
  margin-top: 10px;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  border-radius: 6px;
}

.weather__info {
  display: flex;
}

.weather__name {
  font-size: 15px;
  font-weight: bold;
  width: 200px;
  height: 20px;
}

.weather__temp {
  width: 100px;
  height: 20px;
  font-weight: bold;
  font-size: 16px;
}

.weather__type--Clear {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/images/Clear.png);
  background-repeat: no-repeat;
}

.weather__type--Clouds {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/images/Clouds.png);
  background-repeat: no-repeat;
}

.weather__type--Mist {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/images/Mist.png);
  background-repeat: no-repeat;
}

.weather__type--Rain {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/images/Rain.png);
  background-repeat: no-repeat;
}

.weather__wind {
  font-size: 14px;
}

.wind__title {
  margin-left: 10px;
}

.wind__speed {
  font-size: 10px;
}

a {
  text-decoration: none;
}
