<a [routerLink]="['/weather-detail',weather.id,weather.name]">
  <div class="weatherlist__weather" @drop>
    <div class="weather__name">
      Weather in {{weather.name}},{{weather.sys.country}}</div>
    <div class="weather__info">
      <div class="weather__type--{{weather.weather[0].main}}"></div>
      <h3 class="weather__temp">{{weather.main.temp | number:0}} °C</h3>
    </div>
    <div class="weather__wind">
      <span class="wind__title">Wind Speed : </span>
      <span class="wind__speed">{{weather.wind.speed}} km/h</span>
    </div>
  </div>
</a>
