body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main__logo {
  width: 200px;
  height: 50px;
  background-image: url(../assets/images/logo.svg);
  background-repeat: no-repeat;
  margin-left: 20px;
}
