<!--The content below is only a placeholder and can be replaced.-->
<div class="main">

  <div class="main__logo"></div>
  <div [@routerAnimation]="getRouteAnimation(route)">
    <router-outlet #route="outlet"></router-outlet>
  </div>
</div>
